<div class="container">
    <div class="jumbotron text-center">
        <div class="container">
            <h2>Find your local forecast</h2>
            <form class="form-inline" name="locationForm" ng-submit="getForecast(userInput)" role="form">
                <div class="form-group">
                    <label for="location">Location: </label>
                    <input type="location"  ng-model="userInput" class="form-control" id="location">
                </div>
                <button type="submit" id="submit" value="Submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="footer">
        <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
    </div>
</div>
 