<div class="container">
    <div class="jumbotron text-center">
        <div class="container">
            <h2>Find your local forecast</h2>
            <form class="form-inline" ng-submit="getForecast()" role="form">
                <div class="form-group">
                    <label for="email">Location: </label>
                    <input type="location" class="form-control" id="location">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="footer">
        <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
    </div>
</div>
 