div.search {
  margin-top: 10em;
  h2 {
    margin-bottom: 1.6em;
  }
}

div.tenday {
  margin-top: 10em;
}

  #video-bg {
    position: fixed;
    border: 1px solid blue;
    background: url('assets/video/glaciartopp.mp4');
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
  }

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */

// injector
// endinjector
